<!DOCTYPE html>
<html>
<head>
  <title>Remember-App</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">

    <header>

      <div class="row">

        <h1 id="logo" class="col-xs-5">
          <a href="<%= root_path %>">
            Remember App
          </a>
        </h1> <!-- #logo -->
      
        <nav id="main-nav" class="col-xs-7 navbar navbar-default">
          <a href="<%= root_path %>">Home</a>
          <a href="<%= contact_path %>" data-no-turbolink="true">Contact</a>

          <% if user_signed_in? %>
                <span class="label label-default pull-left">Logged in as <strong><%= current_user.email %></strong></span>
                <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn-logout" %>
          <% else %>
            <a href="<%= new_user_session_path %>">Login</a>
            <a href="<%= new_user_registration_path %>">Register</a>
          <% end %>
        </nav> <!-- #main-nav -->

      </div> <!-- .row -->

    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <hr>

    <small>Copyright <%= Time.now.year %> <a href="http://twitter.com/luizhrqas" target="_blank">@luizhrqas</a> - <a href="https://github.com/luizhrqas/remember-app" target="_blank">Github</a>.</small>

  </div> <!-- .container -->

</body>
</html>
